.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu {
  /* background: border-blue-500; */
  @apply bg-blue-500;
  width: auto;
  height: 100vh;
  color: #fff;
  position: fixed;
  top: 0;
  padding: 0 8px;
  left: -100%;
  transition: 500ms;
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  /* list-style: none; */
}
.nav-icon {
  display: flex;
  margin: 0 10px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 3px;
  border-radius: 10%;
}
.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  height: 100%;
  display: flex;
}
.nav-active {
  @apply bg-white;
}
